
@media screen and (min-width: 0px) and (max-width: 767px) {
.pickamong{
    flex-direction: column;
    gap: 10px;
}
.leftsd{
    display: none !important;
}
.rightsd{
width: 100% !important;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center !important;
}
.ratingtstmnial{
    text-align: center !important;
    align-items: center;
}
.pickamong .btn-secondary{
    width: 100% !important;
}
    .accordion{
    width: 100% !important;
}

    #carouselExampleIndicators{
    width: 100% !important;
    margin-bottom: 50px !important;
}
    .ftrupper{
    flex-direction: column;
    gap: 20px;
}
.ftrright{
    justify-content: start !important;
}
  .formleft {
    border-radius: 0 !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
  }

    #Home{
padding-top: 70px;
}
.sgninbtn{
    display: none;
    
}
.stbtn , .stbtn1{
    width: 90%;
}
.dropdown-menu[data-bs-popper] {
    min-width: 20rem;
    min-height: auto;
    left: -200px;
}

.bdg2,.bdg1{
    transform: scale(70%);
}
.stbtn3 , .stbtn4 {
    font-size: 13px;
    
}
.cntccntnr{
    width: 100% !important;
}

}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .formleft {
    border-radius: 0 !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
  }


.sgninbtn{
    display: none;
    background-color: none;
    
}
.stbtn , .stbtn1{
    width: 100%;
}
.dropdown-menu[data-bs-popper] {
    min-width: 40rem;
    min-height: auto;
    left: -200px;
}
.bdg2,.bdg1 ,.stbtn3, .stbtn4{
    transform: scale(80%);
}

.tb1{
    transform: scale(80%);
}
}


@media screen and (min-width: 992px) {
.stbtn1{
    display: none;
}
.dropdown-menu[data-bs-popper] {
    min-width: 70rem;
    min-height: auto;
    left: -280px;
    transform: scale(85%);
}

}

@media screen and (min-width: 1200px) {
.dropdown-menu[data-bs-popper] {
    min-width: 70rem;
    min-height: auto;
    left: -200px;
    transform: none;
}
}


@media screen and (min-width: 1400px) {

}