
@media screen and (min-width: 0px) and (max-width: 767px) {

    #Home{
padding-top: 70px;
}
.sgninbtn{
    display: none;
    
}
.stbtn , .stbtn1{
    width: 90%;
}
.dropdown-menu[data-bs-popper] {
    min-width: 20rem;
    min-height: auto;
    left: -200px;
}

.bdg2,.bdg1{
    transform: scale(70%);
}
.stbtn3 , .stbtn4 {
    font-size: 13px;
    
}


}


@media screen and (min-width: 768px) and (max-width: 991px) {

.sgninbtn{
    display: none;
    background-color: none;
    
}
.stbtn , .stbtn1{
    width: 100%;
}
.dropdown-menu[data-bs-popper] {
    min-width: 40rem;
    min-height: auto;
    left: -200px;
}
.bdg2,.bdg1 ,.stbtn3, .stbtn4{
    transform: scale(80%);
}

.tb1{
    transform: scale(80%);
}
}


@media screen and (min-width: 992px) {
.stbtn1{
    display: none;
}
.dropdown-menu[data-bs-popper] {
    min-width: 70rem;
    min-height: auto;
    left: -280px;
    transform: scale(85%);
}

}

@media screen and (min-width: 1200px) {
.dropdown-menu[data-bs-popper] {
    min-width: 70rem;
    min-height: auto;
    left: -200px;
    transform: none;
}
}


@media screen and (min-width: 1400px) {

}